* {
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none; /* Firefox */
}

html,
body {
    font-family: Open Sans;
    scroll-behavior: smooth;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    list-style: none;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

button:active {
    border: 0;
    outline: 0;
}

.outline {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

.highlight {
    color: #f7e018;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
        -1px 1px 0 #000, 1px 1px 0 #000;
}

nav {
    position: fixed;
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#navbar > ul {
    background-color: #c3feff;
    color: black;
    border: 1px solid black;
    font-family: Bebas Neue;
    font-size: 1.4rem;
}

#navbar > ul > li {
    padding: 0;
}

.nav_link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
}

.nav_link:hover {
    animation-name: li_change;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
}

@keyframes li_change {
    100% {
        color: white;
        background-color: #000;
    }
}

#scrollTop {
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    z-index: -1;
    border-radius: 50%;
    position: fixed;
    font-family: Bebas Neue;
    cursor: pointer;
}

#welcome-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #c3feff, #c3feff, #c3feff, #ffc5eb);
    color: #000;
    font-family: Bebas Neue, sans-serif;
    gap: 30px;
}

#welcome-section > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

h2,
h1 {
    text-align: center;
    animation-name: original_state;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

h1 {
    font-size: 7.5rem;
    width: 70%;
    letter-spacing: 0.07em;
}

h2 {
    font-size: 3rem;
    letter-spacing: 0.05em;
}

h2:hover,
h1:hover {
    animation-name: change_size;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
}

@keyframes original_state {
    from {
        transform: scale(1.3);
        color: #f7e018;
        text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 1px 1px 0 #000;
    }
    to {
        transform: scale(1);
        color: black;
    }
}

@keyframes change_size {
    from {
        transform: scale(1);
        color: black;
    }
    to {
        transform: scale(1.3);
        color: #f7e018;
        text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
            -1px 1px 0 #000, 1px 1px 0 #000;
    }
}

#about {
    background-color: #c3feff;
    margin-top: 50px;
    height: auto;
    display: grid;
    padding: 30px;
    padding-left: 60px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 0;
}

#about header {
    font-family: Bebas Neue;
    font-size: 5rem;
    grid-area: 1/1/2/2;
    letter-spacing: 0.05em;
}

#about p {
    font-size: 1.3rem;
    width: 90%;
    grid-area: 2/1/3/2;
    word-break: break-word;
}

#about img {
    grid-area: 1/2/3/3;
    width: 250px;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

#project-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    margin-top: 50px;
    width: 100%;
    max-width: 1280px;
    align-items: center;
    justify-items: center;
}

.project-tile {
    width: 100%;
    height: auto;
    max-width: 300px;
    background-color: #ffc5eb;
    border: 1px solid black;
}

.project-tile:hover {
    animation-name: scale_tile;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

@keyframes scale_tile {
    100% {
        transform: scale(1.05);
    }
}

.project-title {
    color: black;
    font-family: Bebas Neue;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #f7e018;
    color: black;
    border: 1px solid black;
    width: 100px;
    height: 50px;
    font-family: Bebas Neue;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    animation-name: button_animation;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

@keyframes button_animation {
    100% {
        background-color: #000;
        color: white;
    }
}

#contact {
    width: 100%;
    background: linear-gradient(0deg, #c3feff, #c3feff, #c3feff, #ffc5eb);
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact > header {
    font-family: Bebas Neue;
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.05em;
}

#contact > h3 {
    font-weight: lighter;
    font-size: 1.3rem;
    text-align: center;
}

#contact > ul {
    font-size: 50px;
}

#contact > ul > li > a {
    color: black;
}

#contact-form{
	width:100%;
	padding: 3rem 0; display:flex;
	justify-content: center;
	align-items: center;
}

#contact-form form{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width:60%;
	gap:30px;
}

.shadow{
	box-shadow: 3px 3px black;
}


#email-input:focus,#text-input:focus{
	outline:none;
	border:1px solid black;
	box-shadow: 3px 3px #ffc5eb;
}


#email-input,#text-input{
	width:100%;
	font-family:Open Sans, sans-serif;
	font-size:1rem;
	padding:10px;
}

#email-input{
	height:40px;
	outline:none;
	border:1px solid black;
}

#text-input{
	height:200px;
	resize:none;
}

footer {
    background-color: #c3feff;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

footer > p {
    font-family: Bebas Neue;
    font-size: 1.3rem;
}

@media (max-width: 700px) {
    #about img {
        grid-area: 1/2/2/3;
        width: 150px;
    }

    #about p {
        grid-area: 2/1/3/3;
    }

    #about header {
        text-align: center;
        font-size: 4rem;
    }

    h1 {
        font-size: 5rem;
        letter-spacing: 0.05em;
    }

    h2 {
        font-size: 2.5rem;
        letter-spacing: 0.03em;
    }

    h1,
    h2 {
        margin: 10px;
        padding: 10px;
    }

    #contact > header {
        font-size: 3.7rem;
        letter-spacing: 0.03em;
    }

    #contact > h3 {
        font-size: 1.3rem;
        letter-spacing: 0.03em;
    }

    #contact > header,
    h3 {
        margin: 0;
        padding: 10px;
    }

		#contact-form form{
			width:80%;
		}
}
